<div class="container">
    <div class="row">
        <!-- Default form register -->
        <form class="text-center border border-light p-5" [formGroup]='userForm' (ngSubmit)='onSubmit()'>

            <p class="h4 mb-4">Register</p>

            <div class="form-row mb-4">
                <div class="col-2">
                    <!-- Title -->
                    <input type="text" formControlName="title" id="defaultRegisterFormTitle" class="form-control" placeholder="Title">
                    <small *ngIf="title.invalid" id="defaultRegisterFormTitleHelpBlock" class="form-text text-muted mb-1">
                        Please enter valid title
                    </small>
                </div>
                <div class="col">
                    <!-- First name -->
                    <input type="text" formControlName="first" id="defaultRegisterFormFirst" class="form-control" placeholder="First name">
                    <small *ngIf="first.invalid" id="defaultRegisterFormFirstHelpBlock" class="form-text text-muted mb-1">
                        Please enter valid first name
                    </small>
                </div>
                <div class="col">
                    <!-- Last name -->
                    <input type="text" formControlName="last" id="defaultRegisterFormLast" class="form-control" placeholder="Last name">
                    <small *ngIf="last.invalid" id="defaultRegisterFormLastHelpBlock" class="form-text text-muted mb-1">
                        Please enter valid last name
                    </small>
                </div>
            </div>

            <!-- Username -->
            <input type="text" formControlName="username" id="defaultRegisterFormUsername" class="form-control mb-4" placeholder="Username">
            <small *ngIf="username.invalid" id="defaultRegisterFormUsernameHelpBlock" class="form-text text-muted mb-1">
                Please enter valid username
            </small>

            <!-- E-mail -->
            <input type="email" formControlName="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">
            <small *ngIf="email.invalid" id="defaultRegisterFormEmailHelpBlock" class="form-text text-muted mb-1">
                Please enter valid email
            </small>

            <!-- Password -->
            <input type="password" formControlName="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password"
                aria-describedby="defaultRegisterFormPasswordHelpBlock">
            <small *ngIf="password.invalid" id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-1">
                Please enter valid password
            </small>

            <div class="form-row mb-4">
                <div class="col">
                    <!-- Gender -->
                    <input type="text" formControlName="gender" id="defaultRegisterFormGender" class="form-control" placeholder="Gender">
                    <small *ngIf="gender.invalid" id="defaultRegisterFormGenderHelpBlock" class="form-text text-muted mb-1">
                        Please enter valid gender
                    </small>
                </div>
                <div class="col">
                    <!-- DOB -->
                    <input type="date" formControlName="dob" id="defaultRegisterFormDob" class="form-control" placeholder="DOB">
                    <small *ngIf="dob.invalid" id="defaultRegisterFormDobHelpBlock" class="form-text text-muted mb-1">
                        Please enter valid date of birth
                    </small>
                </div>
            </div>

            <!-- Phone number -->
            <input type="tel" formControlName="phone" id="defaultRegisterPhonePassword" class="form-control" placeholder="Phone number"
                aria-describedby="defaultRegisterFormPhoneHelpBlock">
            <small *ngIf="phone.invalid" id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-1">
                Please enter valid phone
            </small>
            <!-- Sign up button -->
            <button color="info" block="true" class="my-4" type="submit">Register</button>

        </form>
        <!-- Default form register -->
    </div>
</div>
